<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
      internalLogLevel="Off"
	  internalLogFile="internal-nlog.txt">
	
	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>
	<!--define various log targets-->
	<targets>
		<target xsi:type="File" name="f" fileName="${basedir}/logs/${shortdate}.log"
		layout="${longdate} ${uppercase:${level}} ${message}" />
		<target xsi:type="File" name="svr" fileName="${basedir}/logs/svr/${shortdate}.log"
				layout="${longdate} ${uppercase:${level}} ${message}" />
		<target name="debug" xsi:type="Trace" layout="${message}" />
		<target name="viewer" xsi:type="NLogViewer" address="udp://127.0.0.1:9998" />
		<target name="console" xsi:type="Console" layout="${date:format=HH\:MM\:ss} ${logger} ${message}" />
		<target xsi:type="EventLog"
					name="eventlog"
					source="AutoOffset Information"
					log="AutoOffset"
					layout="${message}${newline}${exception:format=ToString}" />

		<target name="fileForDaily" xsi:type="File"
				layout="${longdate} ${logger} ${message}${exception:format=ToString}"
				fileName="${basedir}/logs/logfile.txt"
				archiveFileName="${basedir}/logs/archives/log.{##}.txt"
				maxArchiveFiles="10"
				archiveNumbering="Rolling"
				archiveAboveSize="10240000"
				archiveEvery="Day" />

		<target name="fileForError" xsi:type="File"
				layout="${longdate} ${logger} ${message}${exception:format=ToString}"
				fileName="${basedir}/logs/logError.txt"
				archiveFileName="${basedir}/logs/archiveError/logError.{##}.txt"
				maxArchiveFiles="10"
				archiveNumbering="Rolling"
				archiveAboveSize="10240000"
				archiveEvery="Day" />
	</targets>
	<rules>
		<logger name="*" minlevel="Debug" writeTo="viewer" />
		<logger name="*" minlevel="Info" writeTo="fileForDaily" />
		<logger name="*" minlevel="Trace" writeTo="fileForDaily" />
		<logger name="*" minlevel="Error" writeTo="fileForError" />
	</rules>
</nlog>