<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="113.3.5" targetFramework="net472" />
  <package id="cef.redist.x86" version="113.3.5" targetFramework="net472" />
  <package id="CefSharp.Common" version="113.3.50" targetFramework="net472" />
  <package id="CefSharp.WinForms" version="113.3.50" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="NLog" version="5.2.0" targetFramework="net472" />
  <package id="WebSocketSharp-netstandard" version="1.0.1" targetFramework="net472" />
</packages>